<!DOCTYPE html>
<html>
  <head>
    <title>DogsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <a href="/dogs">Home</a>
  <a href="/dogs/new">New Dog</a>
   <a href="/toys/new">New Toy</a>

    <%= yield %>
  </body>
</html>
